<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuPPSudRkzhypbWeW9JhC2_R_7GaWUe9U</string>
	<key>GCM_SENDER_ID</key>
	<string>230346814182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatpp</string>
	<key>PROJECT_ID</key>
	<string>uniblind-d4a8a</string>
	<key>STORAGE_BUCKET</key>
	<string>uniblind-d4a8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230346814182:ios:8152371b30b23f1fba8127</string>
</dict>
</plist>